<h1>Konto</h1>
<dl class="dl-horizontal">
    <div *ngIf="customer != null && customer != undefine">
        <dt>Name</dt>
        <dd>{{customer.firstName}} {{customer.lastName}}</dd>
        <dt>E-Mail</dt>
        <dd>{{customer.email}}</dd>
        <br>
        <dt>Adresse</dt>
        <dd>{{customer.address.street}}</dd>
        <dd>{{customer.address.postalCode}} {{customer.address.city}}</dd>
        <dd>{{customer.address.country}}</dd>
        <br>
        <dt>Kreditkarte</dt>
        <dd>{{customer.creditCard.type}}</dd>
        <dd>{{customer.creditCard.number}}</dd>
        <dd>{{customer.creditCard.expirationMonth}}/{{customer.creditCard.expirationYear}}</dd>
    </div>
</dl>
<ul class="nav nav-tabs">
    <li role="presentation"><a routerLink="/registration" routerLinkActive="active">Ändern</a></li>
    <li role="presentation"><a routerLink="/change-password" routerLinkActive="active">Passwort ändern</a></li>
    <li role="presentation"><a routerLink="/home" routerLinkActive="active" (click)="signOut()">Abmelden</a></li>
</ul>
