<h1>Change Password</h1>


<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-horizontal">
<div class="form-group">
    <label for="oldPassword" class="col-sm-2 control-label">Aktuelles Passwort</label>
    <div class="col-sm-4">
        <input type="text"
               class="form-control"
               id="oldPassword"
               ngModel
               name="oldPassword"
               required>
    </div>
</div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Neues Passwort</label>
        <div class="col-sm-4">
            <input type="text"
                   class="form-control"
                   id="password"
                   ngModel
                   name="password"
                   pattern="(.){6,}"
                   required
                   #password="ngModel">
            <div *ngIf="!password.valid && password.dirty && password.touched">Mindestens 6 Zeichen nötig!</div>
        </div>
    </div>
    <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary">Absenden</button>
    <button type="button" (click)="onCancel()" class="btn btn-primary">Abbrechen</button>
</form>




