<div>
    Solange der REST Service immer 401 (the password is invalid) liefert, gibt es einen Workaround:
    <ul>
        <li>email: OK -> Anmeldung ist OK</li>
    </ul>
</div>
<div *ngIf="!authenticated">
    <h1>Anmeldung</h1>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-horizontal">
        <div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">E-Mail</label>
                <div class="col-sm-4">
                    <input type="text"
                           class="form-control"
                           id="email"
                           ngModel
                           name="email"
                           required
                           #email="ngModel">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Passwort</label>
                <div class="col-sm-4">
                    <input type="text"
                           class="form-control"
                           id="password"
                           ngModel
                           name="password"
                           required>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary">Absenden</button>
    </form>
    <br>
    <div *ngIf="wrongLogin" class="alert alert-warning">
        Die Email-Adresse oder das Passwort ist ungültig
    </div>
    <ul class="nav">
        <li role="presentation"><a routerLink="/registration" routerLinkActive="active">Registrierung</a></li>
    </ul>
</div>
<account *ngIf="authenticated" [customerNo]="customerNo"></account>