<h1>Registrierung</h1>
<form *ngIf="!registrationSuccessful" (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-horizontal">
    <div *ngIf="errorType==1" class="alert alert-warning">
        Die Email-Adresse wird bereits von einem anderen Kunden verwendet. Bitte verwenden Sie eine andere.
    </div>
    <div *ngIf="errorType==2" class="alert alert-danger">
        Es ist ein Fehler beim Aufruf des Services aufgetreten. Bitte versuchen Sie es später nochmals.
    </div>
    <div ngModelGroup="userData">
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">Vorname</label>
            <div class="col-sm-4">
                <input type="text"
                    class="form-control"
                    id="firstName"
                       [ngModel]="registration?.customer?.firstName"
                       name="firstName"
                >
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Nachname</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="lastName"
                       [ngModel]="registration?.customer?.lastName"
                       name="lastName"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">E-Mail</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="email"
                       [ngModel]="registration?.customer?.email"
                       name="email"
                       pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                       required
                       #email="ngModel">
                <div *ngIf="!email.valid && email.dirty && email.touched">Ungültige E-Mail Adresse</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Passwort</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="password"
                       [ngModel]="registration?.password"
                       name="password"
                       pattern="(.){6,}"
                       required
                       #password="ngModel">
            <div *ngIf="!password.valid && password.dirty && password.touched">Mindestens 6 Zeichen nötig!</div>
            </div>
        </div>
    </div>
    <br>
    <div ngModelGroup="address">
        <div class="form-group">
            <label for="street" class="col-sm-2 control-label">Strasse</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="street"
                       [ngModel]="registration?.customer?.address.street"
                       name="street"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">Ort</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="city"
                       [ngModel]="registration?.customer?.address.city"                       name="city"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="postalCode" class="col-sm-2 control-label">PLZ</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="postalCode"
                       [ngModel]="registration?.customer?.address.postalCode"
                       name="postalCode"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="country" class="col-sm-2 control-label">Land</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="country"
                       [ngModel]="registration?.customer?.address.country"
                       name="country"
                       required>
            </div>
        </div>
    </div>
    <br>
    <div ngModelGroup="creditCard">
        <div class="form-group">
            <label class="col-sm-2 control-label">Kartentyp</label>
            <div class="col-sm-4">
                <select name="type" [(ngModel)]="creditCard.type" required>
                    <option *ngFor="let type of creditCardTypes" [value]="type.value">
                        {{type.label}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="cardNumber" class="col-sm-2 control-label">Kartennummer</label>
            <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       id="cardNumber"
                       [ngModel]="registration?.customer?.creditCard.number"
                       name="cardNumber"
                       #cardNumber="ngModel"
                       pattern="(^[0-9]{16}$)|(^[0-9]{4}[\s]{1}[0-9]{4}[\s]{1}[0-9]{4}[\s]{1}[0-9]{4}$)"
                       required>
                <div *ngIf="cardNumber.errors && cardNumber.dirty && cardNumber.touched">
                    <div [hidden]="!cardNumber.errors.pattern">
                        Die Nummer muss aus 16 Zahlen bestehend
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="month" class="col-sm-2 control-label">Verfalldatum</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="month"
                       [ngModel]="registration?.customer?.creditCard.expirationMonth"
                       name="month"
                       placeholder="Monat"
                       min="1"
                       max="12"
                       required>
            </div>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="year"
                       [ngModel]="registration?.customer?.creditCard.expirationYear"
                       name="year"
                       placeholder="Jahr"
                       min="{{minYear}}"
                       max="{{maxYear}}"
                       required>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary">Absenden</button>
    <button type="button" (click)="onCancel()" class="btn btn-primary">Abbrechen</button>
</form>
<div *ngIf="registrationSuccessful" class="alert alert-success">
    Die Registrierung war erfolgreich!
</div>