<div *ngIf="hasError">
    <div class="alert alert-danger">
        Kein Buch gefunden mit dieser ISBN!
    </div>
</div>
<table *ngIf="book"  class="table">

    <tbody>
        <thead>
            <tr>
                <th>Buch Details:</th>
            </tr>
    </thead>
        <tr>
            <td class="col-md-1">ISBN:</td>
            <td class="col-md-5">{{book.isbn}}</td>
        </tr>
        <tr>
            <td class="col-md-1">Title:</td>
            <td class="col-md-5">{{book.title}}</td>
        </tr>
        <tr>
            <td class="col-md-1">Authoren:</td>
            <td class="col-md-5">{{book.authors}}</td>
        </tr>
        <tr>
            <td class="col-md-1">Verlag:</td>
            <td class="col-md-5">{{book.publisher}}</td>
        </tr>
        <tr>
            <td class="col-md-1">Art:</td>
            <td class="col-md-5">{{book.binding}}</td>
        </tr>
        <tr>
            <td class="col-md-1">Anz. Seiten:</td>
            <td class="col-md-5">{{book.numberOfPages}}</td>
        </tr>
        <tr>
            <td class="col-md-1">Erscheinungsjahr:</td>
            <td class="col-md-5">{{book.publicationYear}}</td>
        </tr>
        <tr>
            <td class="col-md-1">Stk. Preis:</td>
            <td class="col-md-5">{{book.price | currency:'USD':true:'1.2-2'}}</td>
        </tr>
    </tbody>
</table>
<button (click)="back()">Zurück</button>
