<table *ngIf="bookInfos" class="table table-hover">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bookInfo of bookInfos">
        <td class="col-md-1" (click)="select(bookInfo)">{{bookInfo.isbn}}</td>
        <td class="col-md-5" (click)="select(bookInfo)">{{bookInfo.title}}</td>
        <td class="col-md-4" (click)="select(bookInfo)">{{bookInfo.authors}}</td>
        <td class="col-md-1" (click)="select(bookInfo)">{{bookInfo.price | currency:'USD':true:'1.2-2'}}</td>
        <button >add</button>
    </tr>
    </tbody>
</table>