
<div *ngIf="selectedBook == undefine">
    Keywords:&nbsp;&nbsp;<input type="text" [(ngModel)]="keywords" />
    &nbsp;<button (click)="searchBooks()">search</button>
</div>
<br>
<br>
<div *ngIf="!bookInfos">
    <div class="alert alert-info">
        nichts zum anzeigen!
    </div>
</div>
<book-list [bookList-books]="bookInfos"></book-list>
<div *ngIf="selectedBook == undefine">


   <!-- <book-list [bookList-books]="books"  (onSelect)="selectBook($event)">Loading BookListKomponente ...</book-list> -->

<!-- <table *ngIf="books.length"  class="table table-hover">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td class="col-md-1" (click)="selectBook(book)">{{book.isbn}}</td>
            <td class="col-md-5" (click)="selectBook(book)">{{book.title}}</td>
            <td class="col-md-4" (click)="selectBook(book)">{{book.authors}}</td>
            <td class="col-md-1" (click)="selectBook(book)">{{book.price | currency:'USD':true:'1.2-2'}}</td>
            <td class="col-md-1">
                <input type="number" min="1" [(ngModel)]="book.quantity" (ngModelChange)="updateTotalPrice()" class="form-control">
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Total Price</th>
            <th></th>
            <th></th>
            <th>{{totalPrice | currency:'USD':true:'1.2-2'}}</th>
            <th></th>
        </tr>
    </tfoot>
</table>
-->
</div>
<!--
<div *ngIf="selectedBook != undefine">
    <book-details [book]="selectedBook"></book-details>
    <button (click)="deselectBook()">Zurück</button>
</div>
-->
