<h1>Shopping Cart</h1>

<table *ngIf="items.length" class="table table-hover">
	<thead>
		<tr>
			<th>ISBN</th>
			<th>Title</th>
			<th>Price</th>
			<th>Quantity</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td class="col-md-1">{{item.book.isbn}}</td>
			<td class="col-md-8">{{item.book.title}}</td>
			<td class="col-md-1">{{item.book.price | currency:'USD':true:'1.2-2'}}</td>
			<td class="col-md-1">
				<input type="number" min="1" [(ngModel)]="item.quantity" (ngModelChange)="updateTotalPrice()" class="form-control">
			</td>
			<td class="col-md-1">
				<button type="button" (click)="removeBook(item.book)" class="btn btn-default">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Total Price</th>
			<th></th>
			<th>{{totalPrice | currency:'USD':true:'1.2-2'}}</th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>

<div *ngIf="!items.length" class="alert alert-info">
	Your shopping cart is empty
</div>
