<div class="jumbotron text-center">
    <h1>Angular Bookstore</h1>
</div>



<nav class="navbar navbar">
    <!--
    <ul class="nav navbar-nav">
        <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/shopping-cart" routerLinkActive="active">Shopping Cart</a>
    </ul>
-->
    <ul class="nav nav-tabs">
        <li role="presentation"><a routerLink="/registration" routerLinkActive="active">Registrierung</a></li>
        <li role="presentation"><a routerLink="/catalog" routerLinkActive="active">Catalog</a></li>
        <li role="presentation"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li role="presentation"><a routerLink="/shopping-cart" routerLinkActive="active">Shopping Cart</a></li>
        <li role="presentation"><a routerLink="/login" routerLinkActive="active">Konto</a></li>
    </ul>

</nav>
<router-outlet></router-outlet>
